<!DOCTYPE html>
<html ng-app="HOOPApp">
    <head>
        <script type="text/javascript" src="/homey.js" data-origin="settings"></script>
        <script type="text/javascript" src="athom-api.min.js" data-origin="settings"></script>></script>
        <!-- <script type="text/javascript" src="../node_modules/athom-api/dist/index.js" data-origin="settings"></script> -->
        <link rel="stylesheet" type="text/css" href="bootstrap.css" />
        <script type="text/javascript" src="/manager/webserver/assets/js/angular.js"></script>
        <script type="text/javascript" src="smart-table.min.js"></script>
        <script type="text/javascript" src="HOOPAppController.js"></script>
    </head>

    <body ng-controller="HOOPAppController as hoop">
        <div style="dis-play:none;">
            <textarea id="debug" type="text" columns="40" rows="5" style="width:100%;display:none;"></textarea>
            <h2>How to get developer access?</h2>
            <p>Use this if the Homey Elevator device gives an error / doesn't work.<br/>
                Easiest way is to goto this settingpage through http://developer.athom.com/tools/app-settings).<br/>
                Copy the URL from the goto-url into your browser and follow the steps.<br/>
                When the browser returns (wait for a bit until you see the code), copy the code into the Code from Athom field en click save changes (dont wait to long).<br/></p>
            <div >
                <div class="panel panel-default">
                    <div class="panel-heading">developer access</div>
                    <div class="panel-body">
                        <fieldset>                
                            <div class="form-group" style="margin-bottom:20px;display:none;">
                                <label for="clientid">Client ID</label>
                                <input class="form-control" id="clientid" type="text" style="border : 1px solid grey;" ng-model="hoop.clientid"></input>
                            </div>
                            
                            <div class="form-group" style="margin-bottom:20px;display:none;">
                                <label for="clientsecret">Client Secret</label>
                                <input class="form-control" id="clientsecret" type="text" style="border : 1px solid grey;" ng-model="hoop.clientsecret"></input>
                            </div>
                    
                            <div class="form-group" style="margin-bottom:20px;display:none;">
                                <button class="btn btn-default" id="saveclient" class="right" ng-click="hoop.saveAthomClient()">Save Client</button>
                            </div>
                            
                            <div class="form-group" style="margin-bottom:20px;">
                                <label for="url">Goto url</label>
                                <textarea class="form-control" id="url" type="text" rows="6" style="border : 1px solid grey;" ng-model="hoop.cloudurl"></textarea>
                            </div>
                            
                    
                            <div class="form-group" style="margin-bottom:20px;">
                                <label for="code">code from athom</label>
                                <input id="code" type="text" style="border : 1px solid grey;" ng-model="hoop.authorizationcode"/>
                                <button class="btn btn-default" id="save" class="right" ng-click="hoop.saveCode()">Save code</button>
                            </div>
                    
                            <div class="form-group" style="margin-bottom:20px;">
                                <textarea class="form-control" id="debug" type="text" columns="40" rows="5" style="display:none;"></textarea>
                            </div>
                
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none;" >
            <h2>Homey Elevator</h2>
            <p>Press the button below to clear the active Homey Token.</p>
            <p>Be aware that this will cause many issues, only use this to clear it and then "add" a new Homey Elevator device.</p>
            <div >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form">                        
                            <div class="form-group">                    
                                <button class="btn btn-default" type="button" ng-click="hoop.clearToken()">Clear Homey Token</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h2>Functions</h2>
        <p>These functions can be used within (javascript) expression, such as in Flow Vairable cards.</p>
        <p>Be aware that removing functions could corrupt flows that are using that function.</p>
        <div >
            <div class="panel panel-default">
                <div class="panel-heading">Add function</div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="functionName">Function name</label>
                            <input class="form-control" id="functionName" type="text" ng-model="hoop.newFunction.name" placeholder="Name"><span class="error">{{hoop.messages}}</span>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-default" type="button" ng-disabled="!hoop.newFunction.name" ng-click="hoop.addFunction()">Add function</button>                        
                            <button class="btn btn-default" type="button" ng-click="hoop.deleteAll()">Delete All</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <table st-safe-src="hoop.functions" st-table="displayedCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="name" colspan="3">Name</th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <input st-search="name" placeholder="search for name" class="input-sm form-control" type="search" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="function in displayedCollection" >
                        <td>{{function.name}}</td>
                        <td><button ng-click="hoop.editFunction(function)">edit</button></td>
                        <td><button ng-click="hoop.removeFunction(function)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="editFunction" style="width:100%;height:100%;position:fixed;top:0px;background-color: white;" ng-if="hoop.editFunctionItem">
            <input  class="input-sm form-control" style="height:40px;" ng-model="hoop.editFunctionItem.name" />
            <textarea style="width:100%;height:calc(100% - 80px)" ng-model="hoop.editFunctionItem.value"></textarea>
            <button style="height:40px;" ng-click="hoop.saveActiveFunction()">Save</button><button style="height:40px;" style="position:relative;float:right;" ng-click="hoop.saveActiveFunction(true)">Save & Close</button>
        </div>

        <script type="text/javascript">        
            //var debug = document.getElementById('debug');
            function l(s)  {
                document.getElementById('debug').value+='\r\n' + (s!==undefined ? s.toString() : 'undefined');
            }

            function onHomeyReady(Homey) {
                Homey.ready();
                var element = document.getElementById('functionName');
                var scope = angular.element(element).scope();
                scope.$apply(function() {
                    scope.hoop.setHomey(Homey, scope, l);
                });
            }
        </script>
    </body>
</html>
